* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.logo {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav {
  margin-top: 2.5rem;
}
nav > ul {
  height: 5rem;
  line-height: 5rem;
  list-style: none;
  text-align: center;
}
nav > ul > li {
  display: inline-block;
  margin-right: 1.5rem;
  font-size: 2rem;
}
nav > ul > li:hover {
  background-color: #B2E5FC;
}

.jumbotron-home {
  background: url("/images/back.jpg");
  padding-top: 7rem;
  padding-bottom: 2rem;
}
.jumbotron-home .paster {
  width: 35rem;
  margin: 1rem 0;
  padding-left: 0.5rem;
}
.jumbotron-home h2 {
  color: #0D2240;
  font-size: 2.5rem;
  font-weight: bolder;
}

.product-details {
  text-align: center;
  background-color: #b8dae4;
  color: #0D2240;
  font-size: 18px;
}
.product-details p {
  text-align: left;
  padding-bottom: 2.5rem;
  font-size: 1.5rem;
}
.product-details .img-h {
  height: 28rem;
}
.product-details .img-p {
  height: 55rem;
}
.product-details h4 {
  padding: 4.5rem 0 3rem 0;
  color: #0D2240;
  font-size: 2.5rem;
  font-weight: bolder;
}

.container-footer {
  width: 120rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container-footer > .col {
  width: 22%;
  height: 100%;
}
.container-footer > .two > ul {
  list-style: none;
}
.container-footer > .two > ul > li:first-child {
  font-size: 2.5rem;
  font-weight: bolder;
  margin: 2.5rem 0 2.5rem 0;
  color: #0D2240;
}
.container-footer > .two > ul > li {
  font-size: 1.5rem;
  color: #737373;
}
.container-footer > .three > ul {
  list-style: none;
}
.container-footer > .three > ul > li {
  font-size: 1.5rem;
  color: #737373;
}
.container-footer > .three > ul:first-child > li:first-child {
  font-size: 2.5rem;
  font-weight: bolder;
  margin: 2.5rem 0 2.5rem 0;
  color: #0D2240;
}
.container-footer > .three > ul:nth-child(2) > li:first-child {
  font-size: 2.5rem;
  font-weight: bolder;
  margin: 2.5rem 0 2.5rem 0;
  color: #737373;
}
.container-footer > .four > ul {
  list-style: none;
}
.container-footer > .four > ul > li:first-child {
  margin-top: 2.5rem;
}
.container-footer > .four > ul > li {
  font-size: 1.5rem;
  color: #737373;
}
.container-footer > .four > ul > li > span:first-child {
  color: #3D3D45;
  font-weight: bolder;
}
