@import "color";
@import "positions";
// classi comuni
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}

.container{
  width: 1200px;
  margin: 0 auto;
}
// classi comuni

// header
.logo {
  margin: 0 auto;
  @include fl-row-c;
}

nav{
  margin-top: 2.5rem;
 & > ul{
  height: 5rem;
  line-height: 5rem;
  list-style:none;
  text-align: center;
    & > li{
      display: inline-block;
      margin-right: 1.5rem;
      font-size: 2rem;
      &:hover{
        background-color: $color-light-blue;
      }
    }
  }
}
// fine header

// jumbotron home

.jumbotron-home{
  background: url('/images/back.jpg');
  padding-top: 7rem;
  padding-bottom: 2rem;

  .paster{
    width: 35rem;
    margin: 1rem 0;
    padding-left: 0.5rem;
  }
  h2{
    color: $color-dark-blue;
    font-size:2.5rem;
    font-weight: bolder;
  }
}

// fine jumbotron home

// jumbotron prodotto
.product-details{
  text-align: center;
  background-color: $color-background;
  color: $color-dark-blue;
  font-size: 18px;

  p{
    text-align: left;
    padding-bottom: 2.5rem;
    font-size: 1.5rem;
  }
  .img-h{
    height: 28rem;
  }
  .img-p{
    height: 55rem;
  }
  h4{
    padding: 4.5rem 0 3.0rem 0;
    color: $color-dark-blue;
    font-size:2.5rem;
    font-weight: bolder;
  }
}
// jumbotron prodotto fine

// footer

.container-footer{
  width: 120rem;
  margin: 0 auto;
  @include fl-row-sp;
  & > .col{
    width: 22%;
    height: 100%;
  }
  & > .two{
    & > ul{
      list-style: none;
      & > li:first-child{
        @include first-childs;
        color: $color-dark-blue;
      }
      & > li{
        font-size: 1.5rem;
        color: $color-gray;
      }
    }
  }
  & > .three{
    & > ul{
      list-style: none;
      & > li{
        font-size: 1.5rem;
        color: $color-gray;
      }
    }
    & > ul:first-child{
      & > li:first-child{
        @include first-childs;
        color: $color-dark-blue;
      }
    }
    & > ul:nth-child(2){
      & > li:first-child{
        @include first-childs;
        color: $color-gray;
      }
    }
  }
  & > .four{
    & > ul{
      list-style: none;
      & > li:first-child{
        margin-top: 2.5rem;
      }
      & > li{
        font-size: 1.5rem;
        color: $color-gray;
        & > span:first-child{
          color: $color-darkest-gray;
          font-weight: bolder;
        }
      }
    }
  }
}
// fine footer
