@mixin fl-row-c{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@mixin fl-row-sp{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@mixin first-childs{
  font-size:2.5rem;
  font-weight: bolder;
  margin: 2.5rem 0 2.5rem 0;
}
